*
!*/
!*.*

.DS_Store

*.o
*.exe
*.dat
/2do Semestre/Taller de programacion/Objetos/TP_ProyectoAlumnos/build/
/2do Semestre/Taller de programacion/Objetos/Repaso/Estacionamiento/build/
/2do Semestre/Taller de programacion/Objetos/Repaso/Coros/nbproject/private/
/2do Semestre/Taller de programacion/Objetos/Repaso/ParcialTurnoF/nbproject/private/
/2do Semestre/Taller de programacion/Objetos/Repaso/ParcialTurnoF/build/
